body {
  margin: 0px;
  font-family: "Arial";
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: 50px;
}
html {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.flex-x-center {
  display: flex;
  justify-content: center;
}
button.el-button {
  border: 0px !important;
  height: 36px;
  min-width: 250px;
  border-radius: 0.375rem;
  cursor: pointer;
  background: rgb(115, 103, 240);
  color: #fff;
}
button.el-button:hover {
  box-shadow: 0px 4px 25px -8px rgb(115, 103, 240, 0.5) !important;
}
button.el-button:active {
  background: rgb(115, 103, 240, 0.9) !important;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.hidden {
  animation: fadeOut 1s;
  display: none;
  animation-fill-mode: forwards;
}
.show {
  animation: fadeIn 0.25s;
  animation-fill-mode: forwards;
  display: block !important;
}
.logo {
  width: 100px;
  border-radius: 15px;
  z-index: 1000;
  box-shadow: 0px 4px 25px -8px rgb(115, 103, 240, 0.6);
}
.install-button {
  display: none;
}
.download-progress {
  opacity: 0;
  display: none;
}
.progress-bar {
  height: 25px;
  width: calc(100vw - 30px);
  border-radius: 0.375rem;
  background: rgb(0, 0, 0, 0.05);
}
.inner-progress {
  height: 100%;
  width: 0%;
  background: rgb(115, 103, 240);
  box-shadow: 0px 4px 25px -8px rgb(115, 103, 240, 0.5);
  border-radius: 0.375rem;
  transition: all 1s ease-in-out;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
